<ion-header>
    <ion-toolbar>
      <div style="width:100%; height:15px;background-image: url('assets/images/mobile-bg-topbar.png');margin-left:0px; ">
      </div>
      <table style="width:100%;text-align: left">
        <tr>
          <td style="width:33%;">
            <ion-buttons slot="start">
              <ion-icon slot="icon-only" style="color:dodgerblue;" name="arrow-round-back" role="img" aria-label="star"
                routerLink="/home" routerDirection="root"></ion-icon>
            </ion-buttons>
          </td>
          <td>
            <img src="assets/images/mobile-logo-myjax.png" />
  
          </td>
        </tr>
      </table>
  
    </ion-toolbar>
  </ion-header>

<ion-content style="text-align: center;">
  <div style="background-image: url('assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-bg.jpg');width:100%;height:100%;text-align: center;">
<table style="width:100%; margin-top:5%;">
  <tr>
    
    <td style="width:60%;">
        <img style="vertical-align:middle;display:inline-block;margin-left:2%;"
        src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-logo-fight-blight.png">

    </td>
    <td style="width:40%;">
        <img style="vertical-align:middle;display:inline-block;margin-left:2%;"
        src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-logo-dont-trash.png">
    </td>
  </tr>
</table>
    <div style=" position: fixed; bottom: 1%; width:100%;">
      <table style="width:96%;text-align: center; margin:2%; border-spacing:0 5px; border-collapse:separate;">
        <tr (click)="openReportBlight();"
          style="text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:1%;margin-right:1%; margin-top:2%; ">
          <td>
            <img style="vertical-align:middle;display:inline-block;margin-left:2%;"
              src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-icon-report-take-picture.png">

          </td>
          <td>
            <p style="margin-left:2%; vertical-align:middle;display:inline-block;font-size: 15px;color:black"><b>Report
                blight and Take a picture</b></p>

          </td>
        </tr>
        
        <tr (click)="openScheduleCollection();"
          style=" margin-top:2%;text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:1%;margin-right:1%; margin-top:2%; ">
          <td>
            <img style="vertical-align:middle;display:inline-block;margin-left:2%;"
              src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-icon-schedule.png">

          </td>
          <td>
            <p style="margin-top:4%;margin-left:2%; vertical-align:middle;display:inline-block;font-size: 15px;color:black">
              <b>Schedule Collection for tires or appliances</b></p>

          </td>
        </tr>
       
        <tr (click)="openRecyclingPickup();"
          style=" margin-top:2%;text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:1%;margin-right:1%; margin-top:2%; ">
          <td>
            <img style="vertical-align:middle;display:inline-block;"
              src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-icon-dates.png">

          </td>
          <td>
            <p style="margin-top:3px;margin-left:2%;display:inline-block;font-size: 15px;color:black"><b>Dates for
                trash, yard waste and recycling pickup</b></p>

          </td>
        </tr>
       
        <tr (click)="openFlightBlightEvents();"
          style=" margin-top:2%;text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:1%;margin-right:1%; margin-top:2%; ">
          <td>
            <img style="vertical-align:middle;display:inline-block;margin-left:2%;"
              src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-icon-events.png">

          </td>
          <td>
            <p style="margin-left:2%; vertical-align:middle;display:inline-block;font-size: 15px;color:black"><b>Flight
                Blight Events</b></p>

          </td>
        </tr>
        
        <tr (click)="openExamplesOfBlight();"
          style=" margin-top:2%;text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:1%;margin-right:1%; margin-top:2%; ">
          <td>
            <img style="vertical-align:middle;display:inline-block;margin-left:2%;"
              src="assets/images/MyJaxMobileApp_FightBlight_Assets/mobile-icon-examples.png">

          </td>
          <td>
            <p style="margin-left:2%; vertical-align:middle;display:inline-block;font-size: 15px;color:black">
              <b>Examples of Blight</b></p>

          </td>
        </tr>
       
      </table>
    </div>
  </div>
</ion-content>