<ion-header>
  <ion-toolbar>
    <div style="width:100%; height:15px;background-image: url('assets/images/mobile-bg-topbar.png');margin-left:0px; ">
    </div>
    <table style="width:100%;text-align: center">
      <tr>
        <td style="width:10%;">
          <ion-buttons slot="start">
            <ion-menu-button style="color:dodgerblue;"></ion-menu-button>
          </ion-buttons>
        </td>
        <td style="width:90%;">
          <img src="assets/images/mobile-logo-myjax.png" />

        </td>
      </tr>
    </table>

  </ion-toolbar>
</ion-header>

<ion-content style="text-align: left;">
  <div style="background-color:#E9E9E9 !important; " >
    <b><label style="font-size:15px;">Please Login to continue</label></b>
    <h3>Create an Account or <button style=" margin-top:3%; background:transparent !important;color: dodgerblue; 
  border:1px solid gray; font-size: 25px;border-radius: 5px;" (click)="showRegister=false;">Log In</button></h3>
    <div id="loginDiv" style="width:100%;height:100%;" *ngIf="!showRegister">
      <table width="100%" style="margin-left:5%;">
        <tr>
          <td>
            <p>User Name *</p>
            <input id="loginUserName" name="loginUserName" required minlength="4" [(ngModel)]="login.loginUserName"
              #loginUserName="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>Password *</p>
            <input id="loginPassword" name="loginPassword" class="form-control" required minlength="4"
              [(ngModel)]="login.loginPassword" #loginPassword="ngModel">
          </td>
        </tr>

        <tr>
          <td style="width:100%;">
            <br />
            <ion-button style="width:90%">Log In</ion-button>
          </td>
        </tr>

      </table>
      <table width="100%" style="text-align: center">
        <tr>
          <td style="width:50%;">
            <a style="text-align: left">Forgot password?</a>
          </td>
          <td style="width:50%;">
            <a style="align-self: right" (click)="showRegister=true;">Sign Up</a>
          </td>
        </tr>
      </table>
    </div>

    <div id="signUpDiv" *ngIf="showRegister">
      <table width="100%" style="margin-left:5%;">
        <tr>
          <td>
            <p>Email Address *</p>
            <input type="email" id="emailAddress" name="emailAddress" required minlength="4"
              [(ngModel)]="register.emailAddress" #emailAddress="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>Username *</p>
            <input type="text" class="textbox" id="username" name="username" class="form-control" required minlength="4"
              [(ngModel)]="register.username" #username="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>Display Name *</p>
            <input type="text" id="displayname" name="displayname" class="form-control" required minlength="4"
              [(ngModel)]="register.displayname" #displayname="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>Password *</p>
            <input type="password" id="password" name="password" class="form-control" required minlength="4"
              [(ngModel)]="register.password" #password="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>Verify Password *</p>
            <input type="text" id="verifyPassword" name="verifyPassword" class="form-control" required minlength="4"
              [(ngModel)]="register.verifyPassword" #verifyPassword="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>FirstName *</p>
            <input type="text" id="firstName" name="firstName" class="form-control" required minlength="4"
              [(ngModel)]="register.firstName" #firstName="ngModel">
          </td>
        </tr>
        <tr>
          <td>
            <p>LastName *</p>
            <input type="text" id="lastName" name="lastName" class="form-control" required minlength="4"
              [(ngModel)]="register.lastName" #lastName="ngModel">
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <br />
            <ion-button style="width:90%">Register</ion-button>
          </td>
        </tr>
      </table>

    </div>
  </div>
</ion-content>