<ion-header>
    <ion-toolbar>
      <div style="width:100%; height:15px;background-image: url('assets/images/mobile-bg-topbar.png');margin-left:0px; ">
      </div>
      <table style="width:100%;text-align: left">
        <tr>
          <td style="width:33%;">
            <ion-buttons slot="start">
              <ion-icon slot="icon-only" style="color:dodgerblue;" name="arrow-round-back" role="img" aria-label="star"
                routerLink="/home" routerDirection="root"></ion-icon>
            </ion-buttons>
          </td>
          <td>
            <img src="assets/images/mobile-logo-myjax.png" />
  
          </td>
        </tr>
      </table>
  
    </ion-toolbar>
  </ion-header>

<ion-content style="text-align: center">
 
  
<h2> Version 1.0.0 </h2>
</ion-content>