<ion-header>
  <ion-toolbar>
    <div style="width:100%; height:15px;background-image: url('assets/images/mobile-bg-topbar.png');margin-left:0px; ">
    </div>
    <table style="width:100%;text-align: left">
      <tr>
        <td style="width:33%;">
          <ion-buttons slot="start">
            <ion-icon slot="icon-only" style="color:dodgerblue;" name="arrow-round-back" role="img" aria-label="star"
              routerLink="/home" routerDirection="root"></ion-icon>
          </ion-buttons>
        </td>
        <td>
          <img src="assets/images/mobile-logo-myjax.png" />

        </td>
      </tr>
    </table>

  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center; background-color: lightblue">
  <b><label style="font-size:20px;">News</label></b>
  <ion-list >
    <ion-item *ngFor="let newsList of newsLists " (click)="openlink(newsList.link)" >
      <table style="width:100%;">
        <tr>
          <td style="width:30%;">
          <p>{{newsList.title}}</p>           
          </td>
          <td style="width:60%;">
          <div style="margin-left:2%;" [innerHTML]="newsList.description"></div>
          </td>
          <td style="text-align: right;  width:10%;">
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-item>
  </ion-list>

</ion-content>