.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.screenHeight {
  width:100%;height:100vh;text-align: center;
    }

   @media (max-width: 350px) {
    .screenHeight {
     width:100%;height:120vh;text-align: center;
       }
   }

  