<ion-header >
  <ion-toolbar >
      <div style="width:100%; height:15px;background-image: url('assets/images/mobile-bg-topbar.png');margin-left:0px; ">
      </div>
    <table style="width:100%;text-align: left">
      <tr>
        <td style="width:33%;">
            <ion-buttons  slot="start">
                <ion-menu-button large style="color:dodgerblue;"></ion-menu-button>
              </ion-buttons>
        </td>
        <td >
            <img src="assets/images/mobile-logo-myjax.png"  />

        </td>
      </tr>
    </table>  
   
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <div  class="screenHeight" style=" background-image: url('assets/images/mobile-bg.png');">

    <div style="width:100%; height:60px;background-color: #E9E9E9;align-content: center;">
      <img style="margin-top:15px;margin-right:10px;display:inline-block;vertical-align: middle;"
        src="assets/images/mobile-icon-search.png">
        
      <input style="margin-top:15px;display:inline-block;vertical-align: middle;border:1px solid#BDBDBD;" type="text"
        placeholder="Search for answers" [(ngModel)]="searchText" (keyup.enter)="openSearch(searchText);" />
      <!-- <button style="margin-top:15px;margin-right:10px;display:inline-block;vertical-align: middle;" (click)="openSearch(searchText);">Ok</button> -->
    </div>

    <div>
      <!-- <button style=" margin-top:3%; background:transparent !important;color: #ffffff; 
     border:1px solid #FFFFFF; font-size: 25px;border-radius: 5px;" (click)="openLogin();" >Login or Sign Up</button>
      <button style="display:none; margin-top:3%; background:transparent !important;color: #ffffff; 
      border:1px solid #FFFFFF; font-size: 25px;border-radius: 5px; ">Welcome Ginny!</button> -->
      <button style="margin-top:3%; background:transparent !important;color: #ffffff; 
      border:1px solid #FFFFFF; font-size: 25px;border-radius: 5px; ">Welcome!</button>
      <div style=" margin-top:3%;">
          <div
          style="vertical-align:middle;display:inline-block; width:40%; height:91px;margin-right:5px;background-image: url('assets/images/mobile-icon-xl-bg.png'); ">
          <a style="text-decoration: none;" (click)="openSubmitRequestReport();">
            <img style="margin-top:5px;" src="assets/images/mobile-icon-submit.png">
            <label style="display: flex; flex-direction:column;font-size: 15px;color:black"><b>Submit </b></label>
            <label style="display: flex; flex-direction:column;font-size: 15px;color:black"><b> Request/Report</b></label>
          </a>
        </div>
        <div
          style="vertical-align:middle;display:inline-block; width:40%; height:91px;margin-left:5px;background-image: url('assets/images/mobile-icon-xl-bg.png'); ">
          <a style="text-decoration: none;margin-top:5px;margin-bottom: 5px;" routerLink="/fight-blight" routerDirection="root">
            <img  style="margin-top:5px;" src="assets/images/mobile-icon-blight.png">
            <p style="font-size: 15px;color:black"><b>Fight Blight</b></p>
          </a>
        </div>
      </div>
     

      <div
        style="text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:8%;margin-right:8%; margin-top:2%; ">
        <a style="text-decoration: none;" (click)="openCheckStatus();">
          <img style="vertical-align:middle;display:inline-block;margin-left:5%;" src="assets/images/mobile-icon-requests.png">
          <p style="margin-left:5%; vertical-align:middle;display:inline-block;font-size: 15px;color:black"><b>Check Status</b></p>
        </a>
      </div>
      <div
        style="text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:8%;margin-right:8%; margin-top:2%; ">
        <a style="text-decoration: none;" href="https://www.google.com/maps">
          <img style="vertical-align:middle;display:inline-block;margin-left:5%;" src="assets/images/mobile-icon-around.png">
          <p style="margin-left:5%; vertical-align:middle;display:inline-block;font-size: 15px;color:black"><b>What's Around Me</b></p>
        </a>
      </div>
      <div
      style="text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:8%;margin-right:8%; margin-top:2%; ">
      <a style="text-decoration: none;"  routerLink="/news" routerDirection="root">
        <img style="vertical-align:middle;display:inline-block;margin-left:5%;" src="assets/images/mobile-icon-news.png">
        <p style="margin-left:5%; vertical-align:middle;display:inline-block;font-size: 15px;color:black"><b>News</b></p>
      </a>
    </div>
      <div
        style="text-align:left; background-image: url('assets/images/mobile-icon-bg.png'); margin-left:8%;margin-right:8%; margin-top:2%; ">
        <a style="text-decoration: none;" href="tel:+19046302489">
          <img style="vertical-align:middle;display:inline-block;margin-left:5%;" src="assets/images/mobile-icon-call.png">
          <p style="margin-left:5%; vertical-align:middle;display:inline-block;font-size: 15px;color:black"><b>Call Us</b></p>
        </a>
      </div>

      <!-- <ion-button href="https://ionicframework.com/docs/" class="button button-block  "><a target="_blank"></a>My
        Requests</ion-button>
      <br />
      <ion-button href="https://www.google.com" class="button button-block  "><a target="_blank"></a>What's around me
      </ion-button>
      <br />
      <ion-button href="https://www.bbc.com/news" class="button button-block  "><a target="_blank"></a>News</ion-button>
      <br />
      <ion-button class="button  "><a href="tel:+12123334444"></a>Call Us</ion-button>
      <ion-button (click)="openBlank()">Open Blank</ion-button> -->
      <p style="color:white; text-shadow: #3A6A83; font-size: 15px;"><b>Visit Us</b></p>
      <table style="width:100%;align-items:center;">
        <tr>
          <td style="text-align: right;">
            <a  href="https://www.facebook.com/CityofJax/">
              <img alt="W3Schools" src="assets/images/mobile-icon-facebook.png">
            </a>

          </td>
          <td style="text-align: center;">
            <a  href="https://www.twitter.com/CityofJax ">
              <img alt="W3Schools" src="assets/images/mobile-icon-twitter.png">
            </a>

          </td>
          <td style="text-align: left;">
            <a  href="http://www.coj.net/departments/public-affairs/social-media.aspx">
              <img alt="W3Schools" src="assets/images/mobile-icon-social.png">
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
